%h1 Listing items

%table
  %tr
    %th Title
    %th Description
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.title
      %td= item.description
      %td= link_to feed_items_path
